<% content_for :title do %>
  <%= t('activerecord.models.buttons.user.edit.html') %>
<% end -%>
<% content_for :subnav do %>
  <%= link_to root_path do %>
    <div class='btn btn-inverse btn-small'><i class='fa fa-home'></i> Frontend</div>
  <% end -%>
<% end -%>
<div class='row-fluid'>
  <div class='span12'>
    <%= simple_form_for(resource, :as => resource_name, :url=>{:action=>"update"}) do |f| %>
      <%= f.input :email, :required => true, :autofocus => true, input_html: {class: 'span6'} %>
      <%= f.input :current_password, :required => true, input_html: {class: 'span6'} %>
      <%= f.input :password, :autocomplete => "off", :required => false, input_html: {class: 'span6'} %>
      <%= f.input :password_confirmation, :required => false, input_html: {class: 'span6'} %>
      <div class='well well-large centered' >
        <%= f.button :submit, t('activerecord.models.buttons.user.update'), class: 'btn btn-primary btn-small' %>
      </div>
    <% end %>
  </div>
</div>
