<div class='inset'>
  <div class='row'>
    <div class='span3 offset6'>
      <%= simple_form_for [:backend, :landgasthaus, @event] do |f| %>
        <%= f.input :title %>
        <%= f.input :type, collection: ['Collage', 'Flyer'], label: 'Flyer', default: 1, input_html: {class: 'area_control chosen'} %>
        <div class='flyer_control'>
          <%= f.input :image, as: :file %>
        </div>
        <div class='collage_control'>
          <%= f.input :subtitle %>
          <%= f.input :body, input_html: {class: 'html_editor'} %>
        </div>
        <div class='submit_control'>
          <%= f.submit "Event anlegen", class: 'btn btn-primary dark_nav_sub_btn' %>
        </div>
      <% end -%>
    </div>
  </div>
</div>