<div id="slider" class="sl-slider-wrapper">

    <div class="sl-slider">

        <% Event.all.each_with_index do |event, i| %>

            <div class="sl-slide bg-<%= i+1 %>">
                <div class="sl-slide-inner" style='background-image: url("<%= event.image.url if event.image.present? %>"); background-size: 100%;'>
                    <div class="deco" data-icon="H"></div>
                    <div class='desc_box'>
                        <h2><%= event.title %></h2>
                        <blockquote>
                            <p>
                                <%= nicedate(event.start_at) %> - <%= nicedate(event.end_at) %>
                            </p>
                            <p>
                                <%= link_to event.subtitle[0..50], event_path(event) %>
                            </p>
                            <p>
                                <%= link_to 'Eventflyer herunterladen', download_event_pdf_path() %>
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>

        <% end -%>


        <nav id="nav-arrows" class="nav-arrows">
            <span class="nav-arrow-prev">Previous</span>
            <span class="nav-arrow-next">Next</span>
        </nav>

        <nav id="nav-dots" class="nav-dots">
            <span class="nav-dot-current"></span>
            <% (Event.all.count-1).times do |event| %>
                <span></span>
            <% end -%>
        </nav>
    </div>
</div>
