<%= content_for(:subnav) do %>
  <%= link_to backend_landgasthaus_events_path, style: 'color:black' do %><div class='btn btn-inverse btn-small'>Zur Übersicht</div><% end -%>
<% end -%>
<%= simple_form_for [:backend, :landgasthaus ,@gallery] do |f| %>
    <div class='row'>
        <div class='span4'>
            <%= f.input :title %>
        </div>
        <div class='span4'>
            <%= f.input :subtitle %>
        </div>
    </div>
    <div class='row'>
        <div class='span4'>
            <%= f.fields_for :gallery_images do |fgi| %>
                <%= fgi.input :image, label:false, as: :file, input_html: {class: 'multi', name: 'gallery[images][]'} %>
            <% end -%>
        </div>
        <div class='span4'>
            <div class='gallery_image_present_toogle btn btn-inverse' data-active="false">Gallerie: <i class='icon-chevron-down icon-white'></i></div>
        </div>
    </div>
    <div class='row'>
        <% if @gallery.gallery_images.present? %>
            <%= render 'gallery_images' %>
        <% end -%>
    </div>
    <div class='row'>
        <div class='span12'>
            <%= f.input :description, input_html: {style: 'height:100px; width:100%', class: "wysihtml5-textarea"} %>
        </div>
    </div>
    <div class='well centered'>
      <%= f.button :submit, class: 'dark_nav_sub_btn' %>
    </div>
<% end -%>
