<div class='footer'>
  <%= link_to contact_path do %>
    <%= fa_icon 'comment-o 2x' %> Kontakt
  <% end -%>
  <%= link_to impressum_path do %>
    <%= fa_icon 'legal 2x' %> Impressum
  <% end -%>
  <%= link_to arrival_path do %>
    <%= fa_icon 'map-marker 2x' %> Anfahrt
  <% end -%>
</div>
