<div class='footer'>
  <%= link_to contact_path do %>
    <%= fa_icon 'comment-o' %> Kontakt
  <% end -%>
  <%= link_to impressum_path do %>
    <%= fa_icon 'legal' %> Impressum
  <% end -%>
  <%= link_to arrival_path do %>
    <%= fa_icon 'map-marker' %> Anfahrt
  <% end -%>
</div>
