<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Köhlers Landgasthaus</title>
    <meta name="description" content="Köhlers Landgasthaus" />
    <meta name="keywords" content="Koehlers - Landgasthaus" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <%= stylesheet_link_tag    "frontend/application", :media => "all" %>
    <%# Contentr.additional_admin_stylesheets.each do |sheet| %>
    <%#= raise sheet.inspect %>
      <%#= stylesheet_link_tag sheet, :media => "all" %>
    <%# end -%>
    <%= javascript_include_tag "frontend/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body style=''>
    <div class='open-nav-slider'>
      <%= fa_icon "list 2x" %>
    </div>
    <div class='lghk-wrapper'>
      <div class='row scaff_row headline'>
        <div class='brand'>Köhler's Landgasthaus</div>
      </div>
      <div class='row scaff_row'>
        <div id='content-wrapper'>
          <%= render partial: 'layouts/frontend/nav' %>
          <div class='yield-container'>
            <h3 class='brown'><%= content_for :icon %>&nbsp;<%= content_for :title %></h3>
            <%= yield %>
            <%= contentr_area :body %>
            </div>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'layouts/frontend/event_box' %>
    <%= render partial: 'layouts/frontend/footer' %>
  </body>
</html>
<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
<%= yield :scripts %>
